---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Acerca de mí | Omar Ramirez" description="Acerca de Omar Ramirez">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Acerca de mí"
				tagline="Gracias por ver esta sección. Aquí explicare brevemente sobre mí, y mi experiencia laboral."
			>
				<img
					width="1053"
					height="1047"
					src="/assets/Acerca-de-mi.jpeg"
					alt="Omar Ramirez tiempo libre en el trabajo"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Experiencias</h2>
				<div class="content">
					<p>
						Mi trayectoria profesional en desarrollo de software comenzó 
						como practicante en aplicaciones móviles, donde diseñé y desarrollé 
						una aplicación interna para gestión de personal utilizando Xamarin y MySQL.
					</p>
					<p>
						Posteriormente, me uní a Compu7 como programador de aplicaciones de escritorio, 
						trabajando con Visual Studio, C# y Visual Basic, y SQL Server como motor de base de datos.
						En este rol, me enfocaba en mantenimiento y actualizaciones de proyectos empresariales.
					</p>
					<p>
						Más adelante, BlackJaguar Security me presentó la oportunidad de liderar un proyecto desde cero,
						 utilizando .NET como framework y SQL Server como base de datos. Este proyecto me permitió aplicar
						  mis habilidades y experiencia en desarrollo de software de manera integral.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Estudios</h2>
				<div class="content">
					<p>Finalice mis estudios académicos en la Universidad de Occidente(UdeO), plantel los mochis, Sinaloa.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Habilidades</h2>
				<div class="content">
					<p>
						Desarrollo WEB. Experiencia en POO. Gestión de base de datos.
						Pensamiento Analítico. Identificación de Fallos. Adaptabilidad.
						Trabajo bajo Presión. Gestión de Tiempo.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
